.bt {
  max-width: 255px;
  height: 38px;
}
.bt.full {
  max-width: 300px;
}
.logo {
  max-width: 130px;
}
.banner-interna {
  height: 585px;
}
.banner-interna .container-contingencia {
  max-width: 1010px;
  padding-bottom: 100px;
}
.banner-interna .absolute-left {
  max-width: 5.3vw;
  top: 200px;
}
.banner-interna .text {
  max-width: 500px;
}
.banner-interna h2 + * {
  margin-top: 15px;
}
.banner-text {
  padding-top: 185px;
  padding-bottom: 80px;
}
.contato {
  padding-top: 60px;
}
.contato .absolute-mao-contato {
  right: 1.59vw;
  max-width: 42.19vw;
}
.contato .container-contingencia {
  max-width: 900px;
}
.contato h2 + * {
  margin-top: 10px;
}
.contato p + * {
  margin-top: 15px;
}
.tratamento {
  padding-top: 10px;
}
.tratamento h2 + * {
  margin-top: 5px;
}
.tratamento p {
  max-width: 840px;
}
.tratamento p + * {
  margin-top: 0;
}
.tratamento .container-contingencia {
  max-width: 920px;
}
.tratamento .box-icones img {
  max-width: 90px;
  margin-top: 25px;
}
.tratamento .seta {
  max-width: 42px;
  max-height: 24px;
  margin-top: 60px;
}
.tratamento .absolute-tratamento-left {
  max-width: 5.5vw;
}
.text-image .image {
  max-width: 430px;
}
.text-image .text {
  max-width: 470px;
}
.text-image:nth-child(even) {
  padding-top: 35px;
  align-items: flex-start;
}
.text-image:nth-child(even) .text {
  padding-top: 0;
}
.depoimentos {
  padding-bottom: 45px;
}
.depoimentos h2 + * {
  margin-top: 15px;
}
.depoimentos .container-contingencia {
  max-width: 870px;
}
.carousel-espaco {
  padding-top: 35px;
}
.carousel-espaco .text h2 + * {
  margin-top: 20px;
}
.carousel-espaco .text p + * {
  margin-top: 15px;
}
.cursos {
  padding-bottom: 20px;
  padding-top: 20px;
}
.cursos .container-contingencia {
  max-width: 780px;
}
.cursos .box-cursos h3 {
  line-height: 26px;
}
.cursos p {
  max-width: 640px;
}
.cursos p + * {
  margin-top: 25px;
}
.cursos .grid-cursos {
  grid-template-columns: repeat(2, 1fr);
  row-gap: 35px;
}
.cursos .image {
  max-width: 100%;
}
.cursos .image + * {
  margin-top: 14px;
}
.cursos .box-cursos h3 + * {
  margin-top: 14px;
}
.materiais {
  padding-bottom: 60px;
  padding-top: 29px;
}
.materiais p + * {
  margin-top: 35px;
}
.materiais .container-contingencia {
  max-width: 660px;
}
.materiais .container-materiais .box-materiais img {
  max-width: 180px;
}
.materiais .container-materiais .box-materiais a {
  max-width: 160px;
  height: 38px;
  font-size: 16px;
}
header {
  padding-bottom: 15px;
}
header .container-contingencia {
  max-width: 1030px;
}
footer .container-contingencia {
  justify-content: center;
}
footer .container-contingencia nav {
  padding: 0 15px;
  height: 49px;
}
footer .container-contingencia .text {
  width: 78.5%;
}
footer .logo + * {
  margin-left: 30px;
}
footer .barra-footer .container-contingencia {
  max-width: 1000px;
}
#banner-home {
  height: 780px;
}
#banner-home .container-contingencia {
  padding-top: 180px;
  max-width: 850px;
}
#banner-home .container-contingencia p {
  font-size: 19.5px;
  max-width: 560px;
  line-height: 1.2;
  margin: 0 auto;
}
#banner-home .container-contingencia p + * {
  margin-top: 15px;
}
#banner-home .container-contingencia h1 + * {
  margin-top: 15px;
}
#objetivo {
  padding-top: 35px;
  padding-bottom: 51px;
}
#objetivo p {
  line-height: 22px;
}
#objetivo h2 + * {
  margin-top: 8px;
}
#objetivo p + * {
  margin-top: 15px;
}
#espaco-home .absolute-background-espaco-home {
  max-width: 750px;
}
#espaco-home .absolute-icone-unidades {
  right: 40px;
  bottom: 0;
  max-width: 8.44vw;
}
#espaco-home .absolute-nuvem-espaco {
  left: 95px;
}
#espaco-home .container-contingencia {
  max-width: 1010px;
  gap: 30px;
}
#espaco-home .text {
  max-width: 365px;
  width: 100%;
}
#espaco-home .text p {
  max-width: 450px;
}
#espaco-home .text p + * {
  margin-top: 20px;
}
#espaco-home .text h2 + * {
  margin-top: 15px;
}
#espaco-home .text .bt {
  height: 37px;
}
#espaco-home .owl-carousel {
  width: calc(100% - 365px - 25px);
}
#espaco-home .owl-carousel .owl-stage {
  right: -65px;
}
#espaco-home .owl-carousel .owl-item {
  width: 350px !important;
}
#tratamento-home {
  padding-bottom: 40px;
}
#depoimentos-home {
  padding-top: 40px;
  padding-bottom: 45px;
}
#depoimentos-home .bg-depoimentos {
  max-width: 1180px;
}
#depoimentos-home .absolute-aviao {
  top: 2.91vw;
  max-width: 15.88vw;
}
#cursos-home {
  padding-top: 35px;
  padding-bottom: 25px;
}
#cursos-home .icone-absolute-cursos {
  bottom: -100px;
}
#cursos-home h2 + * {
  margin-top: 22px;
}
#cursos-home .grid-cursos {
  grid-template-columns: repeat(3, 1fr);
}
#rede-home {
  padding: 25px 0;
}
#rede-home .absolute-tratamento-home {
  bottom: -150px;
  max-width: 14.6vw;
}
#materiais-home {
  padding-bottom: 40px;
  padding-top: 25px;
}
#materiais-home h2 + * {
  margin-top: 14px;
}
#materiais-home p + * {
  margin-top: 24px;
}
#contato-home {
  padding-top: 50px;
}
#cursos-interna .container-contingencia {
  max-width: 875px;
}
#dados-curso {
  padding-bottom: 30px;
}
#dados-curso .container-contingencia {
  max-width: 1010px;
}
#dados-curso .text {
  max-width: 615px;
}
#dados-curso .vagas {
  max-width: 340px;
  padding-top: 50px;
}
#dados-curso .vagas .text h3 + * {
  margin-top: 10px;
}
#banner-servicos {
  height: 535px;
}
#banner-servicos .container-contingencia {
  max-width: 885px;
  padding-bottom: 120px;
}
#sobre-programa {
  padding-top: 10px;
}
#sobre-programa .container-contingencia {
  max-width: 970px;
  align-items: center;
}
#sobre-programa h3 {
  max-width: 500px;
}
#sobre-programa .absolute-section-sobre {
  bottom: 42%;
  max-width: 3.5vw;
}
#banner-sobre {
  height: 605px;
}
#banner-sobre .container-contingencia {
  max-width: 935px;
  padding-bottom: 120px;
}
#banner-sobre .text {
  max-width: 480px;
}
#banner-sobre h2 {
  font-size: 45px;
}
#banner-sobre .absolute-left {
  max-width: 3.5vw;
  top: 215px;
}
#sobre {
  padding-top: 10px;
  padding-bottom: 40px;
}
#sobre .container-contingencia {
  max-width: 970px;
  align-items: center;
}
#sobre h3 {
  max-width: 500px;
}
#sobre .absolute-sobre {
  max-width: 570px;
  top: 125px;
}
#sobre .text-image .image {
  max-width: 430px;
}
#sobre .text-image .text {
  max-width: 470px;
}
#sobre .text-image:nth-child(even) {
  padding-top: 25px;
  align-items: center;
}
#sobre .text-image:nth-child(even) .text {
  padding-top: 0;
  max-width: 423px;
}
#unidades {
  padding-bottom: 40px;
}
#unidades .container-contingencia {
  max-width: 800px;
  row-gap: 30px;
}
#unidades .image + * {
  margin-top: 16px;
}
#unidades .text a {
  max-width: 345px;
}
#unidades .text h3 + * {
  margin-top: 8px;
}
#unidades .text a + * {
  margin-top: 8px;
}
#banner-materiais {
  padding-bottom: 100px;
}
#blog {
  padding-top: 50px;
}
.pagination li {
  max-width: 48px;
  height: 48px;
}
