.bt.full {
  max-width: 460px;
}

.logo {
  max-width: 215px;
}

header {
  .container-contingencia {
    max-width: 1285px;
  }
}

.banner-interna {
  height: 765px;

  h2+* {
    margin-top: 25px;
  }

  .container-contingencia {
    padding-bottom: 130px;
  }
}


//Page contato
#contato {
  padding-top: 90px;

  .container-contingencia {
    max-width: 1200px;
  }

  .absolute-image-left {
    max-width: 7vw;
    bottom: -33px;
  }

  .absolute-image-right {
    bottom: -58px;
  }

  h2+* {
    margin-top: 30px;
  }

  form {
    max-width: 700px;
  }
}

//Page curso 
#dados-curso {
  padding-top: 10px;
  padding-bottom: 50px;

  .container-contingencia {
    max-width: 1330px;
  }
}

//Page servicos 
#banner-servicos {
  height: 745px;

  .container-contingencia {
    max-width: 1180px;
    padding-bottom: 175px;
  }
}

#tratamento {
  padding-top: 35px;

  h2+* {
    margin-top: 10px;
  }

  p+* {
    margin-top: 37px;
  }

  .container-contingencia {
    max-width: 1200px;
  }

  .box-icones {
    img {
      max-width: 125px;
    }
  }

  .absolute-tratamento-left {
    max-width: 6vw;
    bottom: -30px;
  }
}

#sobre-programa {
  .container-contingencia {
    max-width: 1300px;
  }

  .absolute-sobre {
    max-width: 825px;
    top: -80px;
  }

  .text {
    padding-top: 45px;
  }
}


//Page sobre 
#banner-sobre {
  height: 745px;

  .container-contingencia {
    max-width: 1205px;
    padding-bottom: 160px;
  }

  h2 {
    font-size: 54px;
  }

  h2+* {
    margin-top: 35px;
  }

  .absolute-left {
    max-width: 5.3vw;
  }

}

#sobre {
  .container-contingencia {
    max-width: 1300px;
  }

  .absolute-sobre {
    max-width: 825px;
    top: -80px;
  }

  .text {
    padding-top: 45px;
  }

  .text-image:nth-child(even) {
    margin-top: 0;
  }
}

#missao {
  padding-top: 50px;
}

#rede-social {
  padding-bottom: 20px;
}

#depoimentos {
  padding-top: 20px;

  h2+* {
    margin-top: 30px;
  }

  .container-contingencia {
    max-width: 1135px;
  }

  .box-depoimentos {
    padding: 35px 0 20px 50px;

    p {
      max-width: 420px;
    }
  }
}