//COMPONENTES
.bt.full {
  max-width: 225px;
  height: 32px;
  padding-top: 1px;
}

.bt {
  max-width: 225px;
  height: 33px;
}

.logo {
  max-width: 90px;
}

.banner-text {
  padding-top: 130px;
  padding-bottom: 55px;
}

.contato {
  padding-top: 10px;

  .container-contingencia {}

  .box-filial {
    flex-direction: column;
    gap: 10px;
    max-width: 240px;

    h2 {
      font-size: 24px;
    }
  }

  nav {
    .bg-icone {
      width: 40px;
      height: 40px;
    }
  }
}

.banner-interna {
  height: 560px;

  .container-contingencia {
    max-width: 380px;
  }

  .image {
    max-width: 290px;
  }

  .text {
    max-width: 325px;

    h2 {
      font-size: 20px;
    }

    a {
      margin-top: 15px;
    }
  }
}

.rede-social {
  padding: 5px 0;

  .container-contingencia {
    max-width: 300px;
    padding-top: 30px;
    padding-left: 40px;
  }

  h2 {
    font-size: 15px;
    max-width: 140px;
  }

  h2+* {
    margin-top: 10px;
  }

  .bt {
    max-width: 120px;
    height: 20px;
  }
}

.depoimentos {
  padding-bottom: 15px;

  .absolute-depoimentos {
    display: none;
  }
}

.carousel-espaco {
  padding-top: 20px;

  .text {
    width: unset;
  }

  .container-contingencia {
    gap: 20px;
  }

  .owl-item.active {
    margin-left: 30px;
  }
}

.materiais {
  padding-bottom: 25px;
  padding-top: 15px;

  p+* {
    margin-top: 20px;
  }
}

.tratamento {
  p+* {
    margin-top: 20px;
  }

  .icones {
    gap: 25px;
  }

  .box-icones {
    max-width: 120px;
    width: 100%;
  }
}

header {
  .block-bar {
    div {
      height: 2px;
      width: 30px;
    }
  }
}

footer {
  .absolute-footer {
    top: -10px;
  }
}

//PAGE HOME 
#banner-home {
  height: 655px;

  .container-contingencia {
    padding-top: 160px;
    max-width: 425px;

    h1 {
      font-size: 22px;
    }

    p {
      font-size: 16.5px;
      max-width: 500px;
      line-height: 1.2;
      margin: 0 auto;
    }

    p+* {
      margin-top: 10px;
    }

    h1+* {
      margin-top: 10px;
    }

    .bt {
      font-size: 11.5px;
      max-width: 280px;
      height: 32px;
    }
  }
}

#objetivo {
  .container-contingencia {
    max-width: 400px;
  }

  .bt {
    max-width: 205px;
    height: 32px;
  }
}

#espaco-home {
  .absolute-background-espaco-home {
    top: -130px;
    max-width: 660px;
  }

  .absolute-icone-unidades {
    right: 4vw;
  }

  .container-contingencia {
    max-width: 350px;
  }

  .owl-carousel {

    .owl-item {
      width: 305px !important;
    }

    .owl-item.active {
      width: 305px !important;
      margin-left: 15px;
      margin-right: 20px !important;
    }
  }
}

#depoimentos-home {
  padding-top: 40px;
  padding-bottom: 50px;

  .bg-depoimentos {
    height: 445px;
    left: -270px;
  }

  .absolute-aviao {
    top: 3.91vw;
    max-width: 22.88vw;
  }

  h2+* {
    margin-top: 15px;
  }
}

#cursos-home {
  padding-top: 15px;

  .container-contingencia {
    max-width: 420px;
  }

  h2+* {
    margin-top: 10px;
  }

  p {
    max-width: 325px;
  }

  .owl-carousel {
    width: 290px;
  }

  .owl-item {
    width: 285px !important;

    img {
      border-radius: 10px;
    }
  }

  .owl-item.active {
    margin-left: 15px;
  }

  .owl-stage {
    width: 5000px !important;
  }

  .owl-nav {
    padding-right: 0;
    margin-top: 20;
  }
}

#contato-home {
  padding-top: 10px;
}

//PAGE CURSO
#dados-curso {
  padding-bottom: 0;

  .container-contingencia {
    max-width: 310px;
  }

  .vagas {
    max-width: 280px;
    padding-top: 30px;

    .text {
      h3+* {
        margin-top: 5px;
      }
    }

    .text+* {
      margin-top: 10px;
    }
  }
}

//PAGE SOBRE 
#banner-sobre {
  height: 330px;

  .absolute-mobile-top {
    bottom: -100px;
  }

  .container-contingencia {
    padding-bottom: 75px;
  }

  .text {
    max-width: 340px;
  }

  h2 {
    font-size: 22px;
  }

  .bt.full {
    font-size: 12px;
  }
}

#sobre {

  .text-image,
  .text-image:nth-child(even) {
    .text {
      max-width: 300px;

      h3 {
        text-align: center;
      }
    }
  }

  .background-absolute-text {
    bottom: 3px;
    width: 620px;
    left: -113px;
    max-width: unset;
  }
}

#missao {
  padding-top: 17px;

  .absolute-missao-left {
    display: none;
  }
}

//PAGE UNIDADES 
#unidades {
  padding-bottom: 15px;

  .image+* {
    margin-top: 10px;
  }
}

#espaco-unidades {
  padding-bottom: 20px;
}

//PAGE SERVICOS 
#banner-servicos {
  height: 290px;

  .absolute-mobile-top {
    bottom: -137px;
    right: 0;
    max-width: 175px;
  }

  .container-contingencia {
    padding-bottom: 60px;
  }

  .text {
    max-width: 340px;
  }

  h2 {
    font-size: 22px;
  }

  .bt.full {
    font-size: 12px;
    max-width: 210px;
    height: 31px;
  }
}

//PAGE BLOG 
#blog,
#blog.post {
  .side-bar {
    .side-box {
      padding: 20px;

      form {
        button {
          max-width: 90%;
          height: 32px;
          font-size: 11px;
        }
      }
    }
  }

  .tags

  .content-preview {
    h3 {
      font-size: 26px;
    }
  }

  .text-preview {
    p {
      line-height: 19px;
    }
  }

  .pagination {
    li {
      max-width: 38px;
      height: 38px;
    }
  }

  .bt-transp {
    height: 32px;
  }
}

#blog {
  padding-top: 20px;
}

//PAGE POST
#blog.post {
  h2 {
    font-size: 22px;
  }

  .content-preview {
    p,
    ul,
    li {
      font-size: 14px;
      line-height: 21px;
    }

    h3 {
      line-height: 24px;
      font-size: 24px;
    }
  }

  .side-bar {
    .side-box {
      .cadastre {
        margin-bottom: 10px;
      }
    }
  }

  .author {
    .author-info {
      .author-picture {
        width: 25px;
        height: 25px;
      }
    }
  }
}