.bt.full {
  max-width: 340px;
  height: 40px;
}
.bt {
  max-width: 235px;
  height: 35px;
}
.logo {
  max-width: 100px;
}
.banner-text {
  padding-top: 140px;
  padding-bottom: 60px;
}
.banner-interna h2 + * {
  margin-top: 15px;
}
.banner-interna form {
  max-width: 480px;
}
.banner-interna .buttons {
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.banner-interna .buttons .bt {
  max-width: 300px;
}
.banner-interna {
  height: 680px;
}
.banner-interna .image {
  max-width: 390px;
}
.contato {
  padding-bottom: 30px;
}
.contato .container-contingencia {
  max-width: 445px;
}
.contato p + * {
  margin-top: 0;
}
.rede-social {
  padding-top: 15px;
}
.rede-social .container-contingencia {
  max-width: 480px;
  padding-top: 45px;
  padding-left: 55px;
}
.rede-social h2 {
  font-size: 24px;
  max-width: 240px;
}
.rede-social h2 + * {
  margin-top: 10px;
}
.rede-social .bt {
  max-width: 185px;
  height: 30px;
}
.depoimentos {
  padding-bottom: 25px;
}
.depoimentos .absolute-depoimentos {
  max-width: 108px;
  right: -40px;
}
.carousel-espaco {
  padding-top: 25px;
}
.carousel-espaco .absolute-mao-espaco {
  display: none;
}
.carousel-espaco .container-contingencia {
  flex-direction: column;
  align-content: space-between;
  margin: 0 auto;
  gap: 30px;
}
.carousel-espaco .text {
  text-align: center;
}
.carousel-espaco .text h2 + * {
  margin-top: 10px;
}
.carousel-espaco .owl-carousel {
  width: 100%;
}
.carousel-espaco .owl-carousel .owl-nav {
  display: flex;
  justify-content: flex-end;
}
.carousel-espaco .owl-carousel .owl-item.active {
  margin-left: 30px;
  width: 100%;
}
.materiais {
  padding-bottom: 30px;
  padding-top: 20px;
}
.materiais p + * {
  margin-top: 25px;
}
.materiais .container-contingencia {
  max-width: 450px;
}
.materiais .container-materiais {
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 20px;
}
.materiais .container-materiais .box-materiais img {
  max-width: 300px;
}
.materiais .container-materiais .box-materiais a {
  max-width: 180px;
  height: 38px;
  font-size: 15px;
}
header .container-contingencia {
  max-width: 710px;
}
footer .barra-footer .container-contingencia {
  padding: 0 5px 13px;
  gap: 5px;
}
footer .barra-footer .container-contingencia .box-right {
  max-width: 49px;
}
footer .absolute-footer {
  top: -20px;
}
#banner-home {
  height: 655px;
}
#banner-home .container-contingencia {
  padding-top: 160px;
  max-width: 550px;
}
#banner-home .container-contingencia p {
  font-size: 18.5px;
  max-width: 500px;
  line-height: 1.2;
  margin: 0 auto;
}
#banner-home .container-contingencia p + * {
  margin-top: 10px;
}
#banner-home .container-contingencia h1 + * {
  margin-top: 10px;
}
#banner-home .container-contingencia .bt {
  font-size: 12.5px;
  max-width: 340px;
  height: 35px;
}
#objetivo {
  padding-top: 10px;
  padding-bottom: 60px;
}
#objetivo .absolute-image-section-objetivo {
  display: none;
}
#objetivo .container-contingencia {
  margin: 0 auto;
  max-width: 480px;
}
#objetivo .text {
  margin: 0 auto;
  text-align: left;
  max-width: unset;
}
#objetivo p {
  line-height: 21px;
}
#objetivo h2 + * {
  margin-top: 5px;
}
#objetivo p + * {
  margin-top: 10px;
}
#espaco-home {
  padding-bottom: 15px;
}
#espaco-home .absolute-background-espaco-home {
  top: -165px;
  max-width: 715px;
}
#espaco-home .absolute-nuvem-espaco {
  display: none;
}
#espaco-home .container-contingencia {
  max-width: 498px;
  gap: 30px;
  flex-direction: column-reverse;
  margin: 0 auto;
}
#espaco-home .text {
  text-align: center;
  margin: 0 auto;
  max-width: 365px;
  width: 100%;
}
#espaco-home .text p {
  max-width: 450px;
}
#espaco-home .text .bt {
  height: 37px;
  margin: 0 auto;
}
#espaco-home .text p + * {
  margin-top: 20px !important;
}
#espaco-home .text h2 + * {
  margin-top: 15px;
}
#espaco-home .owl-carousel {
  margin: 0 auto;
  width: 100%;
}
#espaco-home .owl-carousel .owl-stage {
  right: unset;
}
#espaco-home .owl-carousel .owl-item {
  width: 435px !important;
}
#espaco-home .owl-carousel .owl-item.active {
  width: 435px !important;
  margin-left: 15px;
  margin-right: 20px !important;
}
#espaco-home .owl-carousel .item img {
  border-radius: 10px;
}
#tratamento-home {
  padding-top: 25px;
  padding-bottom: 30px;
}
#tratamento-home .container-contingencia {
  max-width: 530px;
}
#depoimentos-home {
  padding-top: 40px;
  padding-bottom: 50px;
}
#depoimentos-home .bg-depoimentos {
  max-width: 1075px;
  left: -270px;
}
#depoimentos-home .absolute-aviao {
  top: 3.91vw;
  max-width: 22.88vw;
}
#depoimentos-home h2 + * {
  margin-top: 15px;
}
#cursos-home .container-contingencia {
  max-width: 500px;
}
#cursos-home h2 + * {
  margin-top: 14px;
}
#cursos-home p {
  max-width: 415px;
}
#cursos-home .owl-carousel {
  margin-top: 15px;
  width: 500px;
}
#cursos-home .owl-item {
  width: 495px !important;
}
#cursos-home .owl-item.active {
  margin-left: 10px;
}
#cursos-home .owl-stage {
  width: 5000px !important;
}
#cursos-home .owl-nav {
  padding-right: 65px;
  margin-top: 25px;
}
#rede-home .absolute-tratamento-home {
  display: none;
}
#contato-home {
  padding-top: 20px;
}
#dados-curso {
  padding-bottom: 20px;
}
#dados-curso .container-contingencia {
  max-width: 410px;
}
#cursos-interna .container-contingencia {
  max-width: 480px;
  gap: 20px;
}
#cursos-interna .text a {
  margin-top: 10px;
}
#cursos-interna .absolute-image-unidades-left-0 {
  display: none;
}
#cursos-interna .absolute-image-unidades-right-0 {
  display: none;
}
#banner-sobre {
  height: 465px;
}
#banner-sobre .absolute-mobile-top {
  bottom: 15px;
  right: -15px;
}
#banner-sobre .container-contingencia {
  padding-bottom: 95px;
}
#banner-sobre .text {
  max-width: 460px;
}
#banner-sobre h2 {
  font-size: 36px;
}
#banner-sobre .absolute-left {
  display: none;
}
#sobre {
  padding-top: 0;
}
#sobre .container-contingencia {
  gap: 10px;
}
#sobre .text-image .text {
  max-width: 390px;
}
#sobre .text-image .text p {
  line-height: 22px;
}
#sobre .text-image .image {
  max-width: 360px;
}
#sobre .background-absolute-text {
  bottom: 9px;
  max-width: 480px;
}
#sobre .text-image:nth-child(even) {
  padding-top: 20px;
}
#sobre .text-image:nth-child(even) .text {
  width: 388px;
  text-align: center;
}
#missao {
  padding-top: 25px;
}
#missao .absolute-missao-left {
  bottom: 70px;
  max-width: 50px;
}
#missao .container-contingencia {
  max-width: 720px;
}
#missao h2 + * {
  margin-top: 20px;
}
#missao .icones {
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
#missao .box-icones img {
  max-width: 85px;
}
#missao .box-icones img + * {
  margin-top: 7px;
}
#missao .box-icones p {
  font-size: 12px;
}
#missao .icones + * {
  margin-top: 25px;
}
#missao .bt {
  max-width: 325px;
  height: 35px;
}
#unidades {
  padding-bottom: 20px;
}
#unidades .container-contingencia {
  max-width: 450px;
}
#unidades .absolute-image-unidades-left-0 {
  display: none;
}
#unidades .absolute-image-unidades-right-0 {
  display: none;
}
#unidades .image + * {
  margin-top: 12px;
}
#unidades .text a {
  max-width: 315px;
}
#unidades .text svg + * {
  margin-left: 9px;
}
#espaco-unidades {
  padding-bottom: 25px;
}
#banner-servicos {
  height: 390px;
}
#banner-servicos .absolute-mobile-top {
  bottom: -10px;
  right: -15px;
  max-width: 290px;
}
#banner-servicos .container-contingencia {
  padding-bottom: 85px;
}
#banner-servicos .text {
  max-width: 460px;
}
#banner-servicos h2 {
  font-size: 34px;
}
#banner-servicos .absolute-left {
  display: none;
}
#sobre-programa {
  padding-bottom: 15px;
}
#sobre-programa .absolute-section-sobre {
  display: none;
}
#espaco-servicos {
  padding-top: 15px;
}
#banner-materiais {
  padding-bottom: 60px;
}
.side-box.filtros.desktop {
  display: none;
}
.side-box.filtros.mobile {
  display: block;
}
#blog .side-bar,
#blog.post .side-bar {
  max-width: 100%;
}
#blog .side-bar .side-box,
#blog.post .side-bar .side-box {
  padding: 2.08vw 5.08vw 2.6vw;
}
#blog .side-bar .side-box h4,
#blog.post .side-bar .side-box h4 {
  margin-bottom: 10px;
}
#blog .side-bar .side-box .content.popular,
#blog.post .side-bar .side-box .content.popular {
  gap: 10px;
}
#blog .side-bar .side-box form button,
#blog.post .side-bar .side-box form button {
  max-width: 90%;
  height: 45px;
  margin: 0 auto;
  margin-top: 10px;
  font-size: 12px;
  margin-top: 5px!important;
}
#blog .side-bar .side-box form input,
#blog.post .side-bar .side-box form input {
  height: 42px;
}
#blog .side-bar .side-box .cadastre,
#blog.post .side-bar .side-box .cadastre {
  margin-bottom: 15px;
}
#blog .side-bar .side-box.newsletter,
#blog.post .side-bar .side-box.newsletter {
  padding: 20px;
}
#blog .content-preview h3,
#blog.post .content-preview h3 {
  font-size: 29px;
}
#blog .text-preview p,
#blog.post .text-preview p {
  line-height: 20px;
}
#blog .author-info + *,
#blog.post .author-info + * {
  margin-left: 5px;
}
#blog .bt-blog,
#blog.post .bt-blog {
  width: 125px;
  height: 32px;
}
#blog .posts,
#blog.post .posts {
  gap: 15px;
}
#blog .posts .post .image .tag,
#blog.post .posts .post .image .tag {
  top: 10px;
  right: 10px;
}
#blog .posts .post .content-preview .share,
#blog.post .posts .post .content-preview .share {
  padding-top: 12px;
  align-items: center;
}
#blog .posts .post .content-preview .share a,
#blog.post .posts .post .content-preview .share a {
  display: flex;
  align-items: center;
}
#blog .posts .post .content-preview .share a span,
#blog.post .posts .post .content-preview .share a span {
  max-width: 50px;
}
#blog .pagination,
#blog.post .pagination {
  gap: 10px;
}
#blog .pagination li,
#blog.post .pagination li {
  max-width: 40px;
  height: 40px;
}
#blog {
  padding-top: 25px;
}
#blog.post h2 {
  font-size: 31px;
}
#blog.post .content-preview p,
#blog.post .content-preview ul,
#blog.post .content-preview li {
  font-size: 16px;
  line-height: 22px;
}
#blog.post .content-preview h3 {
  line-height: 30px;
  font-size: 26px;
}
#blog.post .date {
  font-size: 10px!important;
}
#blog.post .bt-transp {
  height: 36px;
}
